body
{
	margin		: 0px;
	padding		: auto;

	margin-left	: 10%;
	margin-right	: auto;

	display		: flex;
	justify-content	: center;
	flex-direction	: column;
	text-align	: left;

	font-family	: "Times New Roman", Times, serif;
	color		: rgba(0,0,0,1);
}

h2
{
	text-transform	: uppercase;
	font-size	: 12px;
}

a:link 			/*unvisited*/
{
	color		: rgba(0,0,0,1);
}

a:hover 		/*when the mouse pointer hovers over it*/
{
	color		: rgba(50,80,200,1);
}

a:active 		/*when a user clicks the link*/
{
	color		: rgba(50,80,200,1);
}

a:visited 		/*visited link*/
{
	color		: rgba(50,80,200,1);
}
